* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 600;
}

body {
    color: $primary-color;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: normal;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo-react{
    background: url('./imgs/logo.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100px;
    height: 105px;
    margin: 0 auto;
}